.page {
  height: 100%;
  width: 100%;
  max-width: 216rem;
  min-height: 100vh;
}

.main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--grey-300);
}

.wrapper {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
  width: 90%;
}

.img {
  &Box {
    position: relative;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  height: 10vh;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

  color: var(--grey-900);
  font-weight: 600;
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    height: 90%;
  }

  .main {
    height: 100vh;
    justify-content: flex-start;
  }

  .grid {
    height: 75%;
  }

  .img {
    &Box {
      flex: 0 1 100%;
      height: 400px;
      justify-self: center;
    }
  }

  .link {
    margin-top: 3rem;
    margin-bottom: -6rem;
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .page {
    min-height: 100vh;
  }
  
  .footer {
    height: 4%;
  }

  .wrapper {
    height: 90%;
  }

  .grid {
    height: 45%;
  }

  .img {
    &Box {
      flex: 0 1 80%;
      height: 600px;
    }
  }

  .link {
    margin-bottom: -10rem;
  }
}

//* 1280px
@media only screen and (min-width: 80em) {
  .grid {
    width: 80%;

    margin: 0 auto;
  }

  .img {
    &box {
      height: 100%;
    }
  }
}


//* 1536px
@media only screen and (min-width: 96em) {
  .grid {
    width: 60%;
  }
}