
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  transition: all 0.2s ease;

  color: var(--link-color);
}

a:hover {
  filter: brightness(0.8);
}

a:active {
  filter: brightness(0.5);
}

#app {
  position: relative;
  width: 100%;
}
