
:root {
  --primary-color: #bf94e4;
  --body-color: #f7fafc;
  --button-color: #1ea672;
  --accent-color: #0a721b;
  --link-color: #ffffff;
  --font-color: #697386;
  --error-color: #991c30;
  --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --radius: 6px;
  --form-width: 400px;
}