# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# next.js build output
.next
/out/


# vercel
.vercel

# misc
.DS_Store
.env
.env.local
.env.build
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# User
/src/buffer
/src/pages/test.tsx
/src/*.txt
favicon.ico
temp.tsx
.vscode