
.heading {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: center;
  margin-top: -15rem;

  &Wrapper {
    width: 90%;
    height: 90%;

    & h2 {
      font-size: 2.8rem;
    }
  }

  & span {
    font-size: 4rem;
  
    &:nth-child(1) {
      margin-bottom: .5rem;
    }

    &:nth-child(2) {
      margin-bottom: 2rem;
    }
  }

  & + div {
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
      width: 13ch;
      margin: 0 auto;
      padding: 1rem 1.6rem;
      border: none;
      border-radius: .7rem;
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--pure-white);
      background-color: var(--accent-color);
    }
  }
}


//* 768px
@media only screen and (min-width: 48em) {
  .heading {
    &Wrapper {
      & h2 {
        font-size: 3rem;
      }
    }

    & span {
      font-size: 5rem;
    }
  }
}